# Student Exam Performance EDA

The dataset consists of student exam performance records across multiple subjects.

## Part 1: Data Cleaning and Preparation

Before any analysis can be done, the data must be inspected and "gotten familiar with." This will include . . .
* Checking for missing or null values in each column
* Checking the data types of each column
* Changing column names as needed
* Checking for and correcting inconsistencies in the data

In [1]:
# import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
# read in csv

df = pd.read_csv('StudentsPerformance.csv')

In [3]:
# examine the first 5 rows

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

The columns are . . .
* `gender`: Is the student male or female?
* `race/ethnicity`: The race/ethnicity of the student, expressed by breaking the different races into groups with a corresponding letter.
* `parental level of education`: The highest level of education achieved by the parent of each student.
* `lunch`: Which type of lunch does the student receive at school?
* `test preparation course`: Did the student complete a test prep course before taking the exam?
* `math score`: The student's exam score on the math exam.
* `reading score`: The student's exam score on the reading exam.
* `writing score`: The student's exam score on the writing exam.

In [4]:
# exploring the data types and seeing if any of the values are null

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None of the rows have missing/null values. The data types for each column are correct, though `parental level of education` could be changed to an ordered category.

In [5]:
# cleaning up column names

df = df.rename(columns={'race/ethnicity': 'race',
                       'parental level of education' : 'parent_edu',
                       'test preparation course' : 'test_prep',
                       'math score' : 'math_score',
                       'reading score' : 'reading_score',
                       'writing score' : 'writing_score'})

df.head()

,gender,race,parent_edu,lunch,test_prep,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
# what are the distinct entries in each column?
# particularly interested in the columns containing strings

print('UNIQUE VALUES BY COLUMN\n')
print(df.gender.unique())
print(df.race.unique())
print(df.parent_edu.unique())
print(df.lunch.unique())
print(df.test_prep.unique())

UNIQUE VALUES BY COLUMN

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']

There are no inconsistencies in the entries for each column (no capitalization, spelling, or other errors). I personally would like to rename the entries in the `race` column to just be the letter corresponding with the group. I also would prefer if the `test_prep` column simply displayed 'yes' or 'no'.

In [7]:
# rename values in race column with just the letter

df = df.replace('group A', 'A')
df = df.replace('group B', 'B')
df = df.replace('group C', 'C')
df = df.replace('group D', 'D')
df = df.replace('group E', 'E')

# rename values in test_prep with yes or no

df = df.replace('none', 'no')
df = df.replace('completed', 'yes')

print(df.race.unique())
df.head()

['B' 'C' 'A' 'D' 'E']

,gender,race,parent_edu,lunch,test_prep,math_score,reading_score,writing_score
0,female,B,bachelor's degree,standard,no,72,72,74
1,female,C,some college,standard,yes,69,90,88
2,female,B,master's degree,standard,no,90,95,93
3,male,A,associate's degree,free/reduced,no,47,57,44
4,male,C,some college,standard,no,76,78,75

In [8]:
# changing the data type of parent_edu to an ordered category

order = ['some high school',
         'high school',
         'some college',
         "associate's degree",
         "bachelor's degree",
         "master's degree"]

df.parent_edu = df.parent_edu.astype('category')
df.parent_edu = df.parent_edu.cat.set_categories(order, ordered=True)

df.parent_edu.unique().sort_values()

['some high school', 'high school', 'some college', 'associate's degree', 'bachelor's degree', 'master's degree']
Categories (6, object): ['some high school' < 'high school' < 'some college' < 'associate's degree' < 'bachelor's degree' < 'master's degree']

In [9]:
# checking the summary stats
# to see if any exam scores are strange

print(df.math_score.describe())
print('')
print(df.reading_score.describe())
print('')
print(df.writing_score.describe())

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math_score, dtype: float64

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading_score, dtype: float64

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing_score, dtype: float64

None of the scores appear to be too extreme, or out of bounds. The max of 100 for all of the scores checks out. At least one student received a 0 on the math test, which may be correct, but could indicate a data entry error.